doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/rickshaw.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .row
        .span12
          block content
    script(src='/javascripts/underscore.js')
    script(src='/javascripts/modernizr.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery-ui.js')
    script(src='/javascripts/tabletop.js')
    script(src='/javascripts/d3.min.js')
    script(src='/javascripts/d3.layout.min.js')
    script(src='/javascripts/rickshaw.js')
    script(src='/javascripts/_rickshaw.js')
    // script(src='/javascripts/_visualization.js')